.cart {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: .3em 0 .4em;
    border-bottom: 1px solid #f3792280;
}

.cart-form {
    display: flex;
    gap: .5em;
}

.title {
    font-size: 2.4rem;
    margin-bottom: .2em;
}

.price,
.amount {
    margin-top: .15em;
    font-size: 1.8rem;
}

.item-price,
.item-amount {
    color: #f37922;
    font-size: 2rem;
    font-weight: bold;
}

.img {
    width: 8em;
    height: 8em;
}

.icon {
    margin-right: .3em;
}


.delete-btn {
    margin-top: .6em;
    color: rgba(255, 255, 255, 0.808);
    background: none;
    border: none;
    cursor: pointer;
}

.cart-btns {
    padding: .8em 0;
    text-align: right;
}

.cart-btns button {
    margin-right: 1em;
    padding: .4em 1.5em;
    font-weight: bold;
    color: white;
    background-color: #f37922;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-btns button:hover {
    background-color: #c4621d;
}

@media (min-width: 568px) {
    .cart {
        display: flex;
    }
}